* {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  min-height: 100vh;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

.highlight {
  background-color: #fff;
  color: #000;
}

.name {
  font-size: 48px;
}

.title {
  font-size: 24px;
}

.red {
  color: #ff0000;
}

.blue {
  color: #00d1ff;
}

.bold {
  font-weight: bold;
}
